node_modules
dist
.env
*.local
.vercel
.vscode/
.idea/
.cursor/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
digital-technologies-497309-1fb58b37317c.json
coverage/
scripts
requirement.txt